body {

}

header ul {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    list-style-type: none;
    font-variant: small-caps;
    font-weight: bold;
}

ul.valves {
    list-style-type: none;
}
