{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>HomeClimInterface</title>
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/schedule_style.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'webapp/favicon.ico' %}" />
    </head>

    <body>

        <header>
            <ul>
                <li><a href="{% url 'heater_valves' %}">Heater valves</a></li>
                <li><a href="{% url 'temperature_schedules' %}">Temperature schedules</a></li>
                <li><a href="{% url 'default_temperatures' %}">Preset temperatures</a></li>
                <li><a href="{% url 'login' %}">Login / Logout</a></li>
            </ul>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

    </body>
</html>