{% extends 'webapp/base.html' %}

{% block content %}

<h1>Preset temperatures</h1>

{% if messages %}
    {% for message in messages %}
        {% if "general_info" in message.tags %}<strong>{{ message }}</strong>{% endif %}
    {% endfor %}
{% endif %}

<ul class="temperatures">
{% for temperature in temperatures %}
    <li>

        <form action="" method="post">
            {% csrf_token %}
            {{ temperature.name }}
            <input type="hidden" name="delete" value="{{ temperature.id }}" />
            <input type="submit" value="Delete preset temperature" />
        </form>
        <ul>
            <li>Letter code: {{ temperature.letter_code }}</li>
            <li>
                Temperature: {{ temperature.temperature }}
                <form method="post" action="">
                            {% csrf_token %}
                            {{ update_form }}
                            <input type="hidden" name="update" value="{{ temperature.id }}" />
                            <input type="submit" value="Update temperature" />
                </form>
                {% if messages %}
                    {% for message in messages %}
                        {% if temperature.id in message.tags %}<strong>{{ message }}</strong>{% endif %}
                    {% endfor %}
                {% endif %}
            </li>

        </ul>
    </li>
{% endfor %}
</ul>

<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="create_default_temperature" />
    {{ create_form.as_p }}
    <input type="submit" value="Create a new preset temperature">
</form>

{% endblock %}