{% extends 'webapp/base.html' %}

{% block content %}

<h1>Heater valves</h1>
<p>Number of valves: {{ number_of_valves }}</p>
<ul class="valves">
{% for valve in valves %}
    <li>Valve {{ valve.friendly_name }}</li>
    <ul>
        <li>Measured temperature: {{ valve.measured_temperature }}</li>
        <li>Wanted temperature: {{ valve.wanted_temperature }}</li>
        <li>Heat required: {% if valve.heat_required %}yes{% else %}no{% endif %}</li>
        <li>{% if valve.schedule %}Schedule: {{ valve.schedule_name }}{% else %}No schedule set{% endif %}</li>
        <li>
            Actions :
                <ul>
                    <li>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="unset_schedule" value="{{ valve.id }}" />
                            <input type="submit" value="Unset schedule for this valve" />
                        </form>
                    </li>
                    <li>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ update_schedule_form }}
                            <input type="hidden" name="update_schedule" value="{{ valve.id }}" />
                            <input type="submit" value="Update valve schedule" />
                        </form>
                    </li>
                    <li>
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ update_wanted_temperature_form }}
                            <input type="hidden" name="update_temperature" value="{{ valve.id }}" />
                            <input type="submit" value="Manually update wanted temperature" />
                        </form>
                    {% if messages %}
                        {% for message in messages %}
                            {% if valve.id in message.tags %}<strong>{{ message }}</strong>{% endif %}
                        {% endfor %}
                    {% endif %}
                    </li>
                </ul>
        </li>
    </ul>
{% endfor %}
</ul>



{% endblock %}