{% extends 'webapp/base.html' %}

{% block content %}
<h1>Authentication</h1>

<p>Please sign in to see and update heater valves schedules.</p>
<p>{{ message }}</p>

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Sign in" />
</form>
{% endblock %}