{% extends 'webapp/base.html' %}

{% block content %}
<h1>Authentication</h1>

<p>You are currently logged in as {{ username }}.</p>

<form method="post" action="">
  {% csrf_token %}
  <input type="submit" value="Sign out" />
</form>
{% endblock %}