{% extends 'webapp/base.html' %}

{% block content %}

<h1> Temperature schedules</h1>

{% if messages %}
    <div class="messages">
    {% for message in messages %}
        <p><strong>{{ message }}</strong></p>
    {% endfor %}
    </div>
{% endif %}

<ul class="schedules">
{% for schedule in schedules %}
    <li>
        <a href="{% url 'temperature_schedule_detail' schedule.id %}">{{ schedule.name }}</a> AJOUTER MINI RÉSUMÉ
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="delete_schedule" value="{{ schedule.id }}" />
            <input type="submit" value="Delete schedule" />
        </form>
    </li>
{% endfor %}
</ul>

<form action="" method="post">
    {% csrf_token %}
    {{ create_form }}
    <input type="hidden" name="create_schedule" />
    <input type="submit" value="Create a new schedule" />
</form>

{% endblock %}