{% extends 'webapp/base.html' %}
{% load schedule_extras %}

{% block content %}

<h1>Schedule: {{ json_schedule.name }}</h1>

{% if messages %}
    <div class="messages">
    {% for message in messages %}
        <p><strong>{{ message }}</strong></p>
    {% endfor %}
    </div>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ update_name_form }}
    <input type="hidden" name="update_name" />
    <input type="submit" value="Update schedule name" />
</form>

{% for day, day_data in schedule_for_table.items %}
<p>
    <table class="day_schedule">
        <tbody>
            <tr>
                <th scope="row" width="10%">{{ day_data.day_name }}</th>
                {% for entry, entry_data in day_data.schedule.items %}
                <td class="{{ entry_data.color_class }}" width="{{ entry_data.duration|percents_of_dayspace:90 }}">
                    {{ entry_data.begin.hour|mindigits:2 }}:{{ entry_data.begin.minute|mindigits:2 }}
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="delete_day_schedule_entry" />
                        <input type="hidden" name="day" value="{{ day }}" />
                        <input type="hidden" name="begin_hour" value="{{ entry_data.begin.hour }}" />
                        <input type="hidden" name="begin_minute" value="{{ entry_data.begin.minute }}" />
                        <input type="submit" value="Delete" />
                    </form>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <form action="" method="post">
        {% csrf_token %}
        {{ update_day_schedule_form }}
        <input type="hidden" name="add_day_schedule_entry" value="{{ day }}" />
        <input type="hidden" name="day" value="{{ day }}" />
        <input type="submit" value="Create new schedule entry" />
    </form>
    <form action="" method="post">
        {% csrf_token %}
        {{ copy_day_schedule_form }}
        <input type="hidden" name="copy_day_schedule" />
        <input type="hidden" name="day" value="{{day }}" />
        <input type="submit" value="Copy day schedule to selected day" />
    </form>
</p>

{% endfor %}

<table class="legend">
    <tbody>
        <tr>
{% for temperature, color_class in legend.items %}
            <td class="{{ color_class }}">
                {% if temperature in preset_temperatures %}
                    {% preset_temperature_data temperature 'name' %}<br />
                    ({% preset_temperature_data temperature 'temperature' %}°C)
                {% else %}
                    {{ temperature }}°C
                {% endif %}
            </td>
{% endfor %}
        </tr>
    </tbody>
</table>

{% endblock %}